// back rgba(36, 36, 36, 1)
:root{
  --background-color: rgba(23, 23, 23);
  --input-background-color: rgba(37, 37, 37);
  --font-color: rgba(186, 186, 186);
  --btn-border: rgba(1, 77, 117);
  --btn-background-color: rgba(0, 74, 179);
}