// back rgba(36, 36, 36, 1)
:root{
  --main-background-color: rgba(23, 23, 23);
  --secondary-background-color: rgba(39, 39, 39);
  --btn-box-shadow: rgba(11, 70, 163, 0.5);
  --input-background-color: rgba(37, 37, 37);
  --font-color: rgba(186, 186, 186);
  --placeholder-color: rgba(0, 128, 255, 0.68);
  --border: rgba(0, 138, 209, 0.38);
  --btn-background-color: rgba(0, 74, 179);
}