// back rgba(36, 36, 36, 1)
:root{
  // переделать

  --color-main-bg: 23, 23, 23;
  --color-second-bg: 39, 39, 39;
  --color-btn-box-shadow: 11, 70, 163;
  --color-input-background: 37, 37, 37;
  --color-font: 186, 186, 186;
  --color-placeholder: 0, 128, 255;
  --color-border: 0, 138, 209;
  --color-border-blocks: 30, 30, 30;
  --color-btn-background: 0, 74, 179;
}