:root{
  --gap-picture: 10px;
  --gap-posts: 10px;
  --gap-page: 20px;
  --gap-top-navigation: 110px;
  --gap-navigation: 30px;
  --margin-top-page: 80px;
  --size-phones-router: 50px;
  --padding-left-router: 20px;
}