:root{
  --gap-picture: 10px;
  --gap-posts: 10px;
  --gap-page: 20px;
  --gap-top-navigation: 110px;
  --gap-navigation: 30px;
  --gap-text: 25px;

  --width-page: 1300px;
  --width-middle-page: 992px;
  --width-smaller-page: 768px;
  --width-smallest-page: 600px;

  --padding-left-router: 20px;
  --padding-profile-outer-blocks: 10px;
  --padding-profile-inner-blocks: 10px 20px;
  --padding-album-spacer: 10px;

  --max-width-info-blocks: 250px;

  --size-phones-router: 50px;
  --size-top-navigation: 65px;
  --size-blocks-user-profile: 220px;
  --size-drow-down-list: 200px;
  --max-size-router: 250px;
}