html{
  width: 100svw;
  height: 100svh;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
#app{
  background-color: var(--main-background-color);
  font-family: system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
body{
  margin: unset;
  height: 100%;
}
::placeholder{
  color: var(--placeholder-color);
}
