html{
  //height: 100svh;
  margin: 0 auto;
  background: rgb(var(--color-main-bg));
  overflow-y: auto;
}
@font-face {
  font-family: 'CustomFont';
  src: url('src/assets/fonts/FindSansPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#app{
  //overflow: hidden;
  background-color: rgb(var(--color-main-bg));
  font-family: CustomFont;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  width: 100%;
}
body{
  margin: unset;
}
::placeholder{
  color: rgba(var(--color-placeholder), 0.68);
}
*{
  box-sizing: border-box;
}