html{
  width: 100svw;
  height: 100svh;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
@font-face {
  font-family: 'CustomFont';
  src: url('src/assets/fonts/FindSansPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#app{

  background-color: rgba(var(--color-main-bg), 1);
  font-family: CustomFont;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  width: 100%;
  height: 100%;
}
body{
  margin: unset;
  height: 100%;
}
::placeholder{
  color: rgba(var(--color-placeholder), 0.68);
}
*{
  box-sizing: border-box;
}